.main {
	position: relative;
	z-index: 2;
	border-top: 1px solid #e6e6e6;
}

.todoList {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		position: relative;
		font-size: 24px;
		border-bottom: 1px solid #ededed;

		&:last-child {
			border-bottom: none;
		}

		label {
			white-space: pre-line;
			word-break: break-all;
			padding: 15px 60px 15px 15px;
			margin-left: 45px;
			display: block;
			line-height: 1.2;
			transition: color 0.4s;
		}

		&:hover .destroy {
			display: block;
		}

		.edit {
			display: none;
		}

		&.editing:last-child {
			margin-bottom: -1px;
		}
	}
}

label[for='toggle-all'] {
	display: none;
}

.toggleAll {
	position: absolute;
	top: -55px;
	left: -12px;
	width: 60px;
	height: 34px;
	text-align: center;
	border: none; /* Mobile Safari */
	transform: rotate(90deg);
	appearance: none;

	&:before {
		content: '❯';
		font-size: 22px;
		color: #e6e6e6;
		padding: 10px 27px 10px 27px;
	}
	&:checked:before {
		color: #737373;
	}
}
